@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .navbar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-grey_1 text-white
    hover:bg-white hover:text-slate-400 rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear;
  }

  .navbar-tooltip {
    @apply absolute top-[-4] w-auto z-10 p-2 min-w-max mt-12 text-center text-xs text-white bg-grey_1 rounded-xl
    scale-0 transition-all duration-100 ease-linear;
  }

  .page-title {
    @apply text-3xl font-bold text-center text-white;
  }
}